*{
	font: normal normal medium Sylfaen, Serif;
	
}
a:hover{
	text-decoration: none;
}
button{
    cursor: pointer;
}
input{
	outline: none;
}

.header{
	background: linear-gradient(270deg, #ffffff, #3bb08f);
}
.btn {
	outline: none !important;
}	 
.btn.btn-primary {
	background-color: #004d00;
	outline: none;
}
.btn.btn-primary:hover {
	background-color: #57c206;
}
.btn.btn-primary:active, .btn.btn-primary:focus {
	background-color:#8afa34;
}
.btn.btn-primary .fa {
	padding-right: 4px;
}
.customModal {
	box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.4);
	left: calc(50vw - 300px);
	position: absolute;
	z-index: 999;
	width: 600px;
	top: 20vh;
	border-radius: 5px;
	overflow: hidden;
}
.customModal .customModalTitle {
	background-color: #eee;
	text-align: center;
	padding: 8px 12px;
	font-size: 1.5em;
}
.customModal .customModalTitle .close {
	line-height: 32px;
	color: #5c4084;
}
.customModal .customModalBody {
	background-color: #fff;
	padding: 8px 12px;
	text-align: left;
	padding: 12px;
}
.customModal .customModalFooter {
	background-color: #eee;
	text-align: center;
}
.btn, .user-name, .main-ref{
	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}

.user-name{
	color:#008000;
}
.user-name:hover{
	color:white
}
.main-ref{
	font: normal 250% medium Sylfaen, Serif;
	color:#008000;
}
.main-ref:hover{
	color:#00b300;
}


/*MAIN------------------------------------------------------------------*/

.change-item input{
	padding: 5%;
}

.content{
	margin-top: 1%;
	text-align: justify;
}
.account-content{
	text-decoration: underline;
}
.navigation .col{
    text-align: center;
    cursor: pointer;
}
.main{
	background: linear-gradient(270deg, #ffffff, #3bb08f);
}
.block{
	color:#333333;
	font: normal 300% medium Sylfaen, Serif;
	background-color: #e6e6e6;
	padding:1%;
	border: 1px solid black;
	border-radius:20% 5%;
}

.block{
	-webkit-transition: .6s ease-in-out;
	-moz-transition: .6s ease-in-out;
	-o-transition: .6s ease-in-out;
	transition: .6s ease-in-out;
}
.block:hover{
	background: linear-gradient(45deg, #ccccff, #236b51);
    color:white;
}

.content-center{
	border-style:solid;
}
.sidebar{
	border-style: solid;
}

.ask_question{

}
.answer_question{
	
}

/*FOOTER-------------------------------------------------------*/
.footer{
	background: linear-gradient(180deg, #ffffff, #3bb08f);
	text-align: center;
}
.footer-mail{
	color:blue;
}
.footer-mail:hover{
	color:#030a08;
	-webkit-transition: .8s ease-in-out;
	-moz-transition: .8s ease-in-out;
	-o-transition: .8s ease-in-out;
	transition: .8s ease-in-out;
}