*{
    font: normal normal medium Sylfaen, Serif;
    outline: none;
}
a:hover{
    text-decoration: none;
}
/*HEADER-------------------------------------------------------*/
.title{
    font-size: 300%;
}

.header{
	background: linear-gradient(270deg, #ffffff, #3bb08f);
}

/*MAIN---------------------------------------------------------*/

.content{
    font-size: 150%;
}
.main{
	background: linear-gradient(270deg, #ffffff, #3bb08f);
}
.image{
    float: right;
}

/*FOOTER-------------------------------------------------------*/
.footer{
	background: linear-gradient(180deg, #ffffff, #3bb08f);
	text-align: center;
}
.footer-mail{
	color:blue;
}
.footer-mail:hover{
	color:#030a08;
	-webkit-transition: .8s ease-in-out;
	-moz-transition: .8s ease-in-out;
	-o-transition: .8s ease-in-out;
	transition: .8s ease-in-out;
}