*{
    font: normal normal medium Sylfaen, Serif;
    outline: none;
}
a:hover{
    text-decoration: none;
}



/*HEADER-------------------------------------------------------*/

.btn {
	outline: none !important;
}	 
.btn.btn-primary {
	background-color: #004d00;
	outline: none;
}
.btn.btn-primary:hover {
	background-color: #57c206;
}
.btn.btn-primary:active, .btn.btn-primary:focus {
	background-color:#8afa34;
}
.btn.btn-primary .fa {
	padding-right: 4px;
}
.customModal {
	box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.4);
	left: calc(50vw - 300px);
	position: absolute;
	z-index: 999;
	width: 600px;
	top: 20vh;
	border-radius: 5px;
	overflow: hidden;
}
.customModal .customModalTitle {
	background-color: #eee;
	text-align: center;
	padding: 8px 12px;
	font-size: 1.5em;
}
.customModal .customModalTitle .close {
	line-height: 32px;
	color: #5c4084;
}
.customModal .customModalBody {
	background-color: #fff;
	padding: 8px 12px;
	text-align: left;
	padding: 12px;
}
.customModal .customModalFooter {
	background-color: #eee;
	text-align: center;
}
.btn, .user-name, .main-ref{
	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}

.user-name{
	color:#008000;
}
.user-name:hover{
	color:white
}
.main-ref{
	font: normal 250% medium Sylfaen, Serif;
	color:#008000;
}
.main-ref:hover{
	color:#00b300;
}

.header{
	background: linear-gradient(270deg, #ffffff, #3bb08f);
}

/*MAIN---------------------------------------------------------*/

.main{
	background: linear-gradient(270deg, #ffffff, #3bb08f);
}
.txt{
	text-align: justify;
	font-size: larger;
}
.module-title{
	text-align: center;
	font-size: 150%;
	border-style:groove;
}
.module-content{
	text-align: justify;	
}
.module-content {
	border-style:double;
	transform: scaleY(0);

	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;

}
.module:hover .module-content {
	transform: scaleY(1);
}

.lesson{
	font-size: 200%;
	text-align: center;
	border-style: double;
	margin: 1%;
	color:white;
	background:#246b51;
	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.lesson:hover{
	background-color:#008000;
	color:#00e600;
}


/*LESSON__-------------------------------*/
.nav-title{
	font-style: oblique;
}
.module-title-nav{
	font-size: 150%;
	border-style:groove;
}
.module-content-nav{
	border-style:double;
}
.lesson-nav{
	color:white;
	background:#246b51;
	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.lesson-nav:hover{
	background-color:#008000;
	color:#00e600;
}
.question-title{
	border-bottom-style: double;
}
.question-title, .question-content{
	font-size: larger;
}
.question-content{
	border-bottom-style:groove;
}
.test{
	border-style:groove;
}

/*FOOTER-------------------------------------------------------*/
.footer{
	background: linear-gradient(180deg, #ffffff, #3bb08f);
	text-align: center;
}
.footer-mail{
	color:blue;
}
.footer-mail:hover{
	color:#030a08;
	-webkit-transition: .8s ease-in-out;
	-moz-transition: .8s ease-in-out;
	-o-transition: .8s ease-in-out;
	transition: .8s ease-in-out;
}