*{
	font: normal normal medium Sylfaen, Serif;
}
a{
	text-decoration: none;
	color:black;
}
button{
    cursor: pointer;
}
a:hover{
	text-decoration: none;
}

.d1 input {
  border-radius: 20% 10%;
  outline: none;
}
.d1 input:focus{
    box-shadow: 0 0 2rem rgba(0,0,0,0.5); 
}
.d1 button {
  background: #87d6b9;
  border-radius: 30% 30%;
  cursor: pointer;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}
.d1 button:hover{
	background-color: #d1f0e4;
}

	 
.btn.btn-primary {
	background-color: #004d00;
	outline: none;
}
.btn.btn-primary:hover {
	background-color: #57c206;
}
.btn.btn-primary:active, .btn.btn-primary:focus {
	background-color:#8afa34;
}
.btn.btn-primary .fa {
	padding-right: 4px;
}
.customModal {
	box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.4);
	left: calc(50vw - 300px);
	position: absolute;
	z-index: 999;
	width: 600px;
	top: 20vh;
	border-radius: 5px;
	overflow: hidden;
}
.customModal .customModalTitle {
	background-color: #eee;
	text-align: left;
	padding: 8px 12px;
	font-size: 1.5em;
}
.customModal .customModalTitle .close {
	line-height: 32px;
	color: #5c4084;
}
.customModal .customModalBody {
	background-color: #fff;
	padding: 8px 12px;
	text-align: left;
	padding: 12px;
}
.customModal .customModalFooter {
	background-color: #eee;
	padding: 4px 12px;
	text-align: left;
}
.btn{
	outline: none !important;
	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}

.header{
	background: linear-gradient(45deg, #ccccff, #3eb489);
}

/*MAIN------------------------------------------------------------------*/

.style_prevu_kit
{
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1);
    transition: all 100ms ease-in;
    transform: scale(1);   

}
.style_prevu_kit:hover
{
    box-shadow: 0px 0px 10vh #000000;
    z-index: 2;
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 100ms ease-in;
    transform: scale(1.2);
}


.navigation .col{
	transition: 0.45s linear;
	border-style:solid;
	border-color: #00008b;
	text-align: center;
    cursor: pointer;
}
.nav-item{
	font-size: 220%;
}
.nav-item:hover{
	-webkit-transition: .6s ease-in-out;
	-moz-transition: .6s ease-in-out;
	-o-transition: .6s ease-in-out;
	transition: .6s ease-in-out;
}
.navigation .col:hover{
    background-color:#fff0f5;
	color:#00008b;
}
.main{
	background: linear-gradient(45deg, #b69eff, #1cd3a2);
}
.content{
	margin-top: 1%;
	border-top-style: groove;
	border-top-color: #00008b;
}
.content p{
	font-size: 110%;
	text-align: justify;
}

/*
Изображения
*/
.mask{
	--uiMaskClipPath: var(--maskClipPath);
	box-sizing: var(--maskBoxSizing, border-box);
	display: var(--maskDisplay, inline-flex);
	padding: var(--maskStrokeThickness, 3px);
	clip-path: var(--uiMaskClipPath);
	background-color: var(--maskStrokeColor, currentColor);
  }
  .page__tile{ 
	width: 21vw; 
	height: 30vh; 
  }
  .mask__img{
	max-width: 100%;
	display: block;
	clip-path: var(--uiMaskClipPath);
  }
  .mask, .mask__img{
	transition: clip-path var(--maskAnimationDuration, .2s) var(--maskAnimationTimingFunction, ease-out);
  }
  .mask{
	--maskStrokeColor: #ecebef;
	--maskStrokeThickness: 5px;
  }
  
  .page{
	box-sizing: border-box;
	width: 100%;
	padding: 2vh;
	margin: auto;  
	text-align: center;
	display: grid; 
	grid-gap: 3rem; 
	grid-template-columns: repeat(auto-fit, 40vh);
	justify-content: center;
  }
  
  /* effect 1*/
  .mask_type1{
	--maskClipPath: polygon(0 10%, 10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%);
  }
  .mask_type1-a1{
	--maskAnimationDuration: .4s;
  }
  .mask_type1:hover, .mask_type1:focus{
	--maskClipPath: polygon(0 0, 100% 0, 100% 10%, 100% 100%, 90% 100%, 0% 100%, 0% 90%, 0% 10%);
  }
  
  /* effect 2*/
  .mask_type2{
	--maskClipPath: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  .mask_type2-a1{
	--maskAnimationDuration: .4s;
  }
  .mask_type2:hover, .mask_type2:focus{
	--maskClipPath: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
  }
  
  /* effect 3*/
  .mask_type3{
	--maskClipPath: polygon(0 10%, 10% 10%, 10% 0, 90% 0, 90% 10%, 100% 10%, 100% 90%, 90% 90%, 90% 100%, 10% 100%, 10% 90%, 0 90%);
  }
  .mask_type3-a1{
	--maskAnimationDuration: .5s
  }
  .mask_type3:hover, .mask_type3:focus{
	--maskClipPath: polygon(90% 0, 100% 0, 100% 10%, 100% 90%, 100% 100%, 90% 100%, 10% 100%, 0 100%, 0 90%, 0 10%, 0 0, 10% 0);
  }
  
  /* effect 4*/
  .mask_type4{
	--maskClipPath: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
  }
  .mask_type4:hover, .mask_type4:focus{
	--maskClipPath: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  
  /* effect 5*/
  
  .mask_type1-a2{
	--maskAnimationDuration: .5s;
  }
  .mask_type1-a2:hover, .mask_type1-a2:focus{
	--maskClipPath: polygon(0 0, 90% 0, 100% 0, 100% 90%, 100% 100%, 10% 100%, 0 100%, 0 10%); 
  }
  
  /* effect 6*/
  
  .mask_type2-a2{
	--maskAnimationDuration: .9s;
	--maskAnimationTimingFunction: cubic-bezier(1, 0.18, 0, 1.14);
  }


.content-center{
	margin-top: 1%;
}
.sidebar{
	margin-top: 1%;
	font-size: 110%;
	background: linear-gradient(45deg, #9999ff, #329977);
	text-align: justify;
	border-style:groove;
	border-color: #00008b;
}


.news-title{
	font: bold italic 200% Palatino, serif;
	border-bottom-style: double;
}
.news-content{
	border-bottom-style:solid;
	border-right-style: double;
	text-align: justify;
}
.xpandable-block {
	height: 10vh;
	overflow: hidden;
	order: 0;
  }
  
.building{
	border-style:double;
}


.sidebar-item a:hover{
	color: yellow;
	-webkit-transition: .6s ease-in-out;
	-moz-transition: .6s ease-in-out;
	-o-transition: .6s ease-in-out;
	transition: .6s ease-in-out;
}


.wrapper{
	text-decoration: none;
}
.wrapper{
    display: flex;
    justify-content: center;
}
.wrapper .icon{
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1vh 1vh 1vh 1vh #000000;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper a{
	padding: 5vh;
}
.wrapper .tooltip{
    position: absolute;
    top: 0;
    font-size: 100%;
    background-color: #ffffff;
    color: #ffffff;
    border-radius:1vh;
    box-shadow: 0 2vh 2vh rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before{
    position: absolute;
    content:"";
    background-color: #ffffff;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip{
    top: -8vh;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.icon i{
	font-size: 1.5rem;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .whatsapp:hover, 
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before{
    background-color: #25d366;
    color: #ffffff;
}
.wrapper .github:hover, 
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before{
    background-color: #333333;
    color: #ffffff;
}
.wrapper .telegram:hover, 
.wrapper .telegram:hover .tooltip,
.wrapper .telegram:hover .tooltip::before{
    background-color: #0088cc;
    color: #ffffff;
}
.wrapper .youtube:hover, 
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before{
    background-color: #de463b;
    color: #ffffff;
}
.wrapper .linkedin:hover, 
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before{
    background-color: #0e76a8;
    color: #ffffff;
}

/*FOOTER------------------------------------------------------------------*/
.footer{
	width: 100%;
	background: linear-gradient(45deg, #b69eff, #66cdaa);
	text-align: center;
}
.footer a:hover{
	-webkit-transition: .6s ease-in-out;
	-moz-transition: .6s ease-in-out;
	-o-transition: .6s ease-in-out;
	transition: .6s ease-in-out;
	color:#6600ff;
}