*{
    font: normal normal medium Sylfaen, Serif;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
button{
    cursor: pointer;
}
.btn {
	outline: none !important;
}
input:focus, textarea:focus{
	border-color: yellow;
	outline-style: double;
}	

.btn.btn-primary {
	background-color: #004d00;
	outline: none;
}
.btn.btn-primary:hover {
	background-color: #57c206;
}
.btn.btn-primary:active, .btn.btn-primary:focus {
	background-color:#8afa34;
}
.btn.btn-primary .fa {
	padding-right: 4px;
}
.customModal {
	box-shadow: 0px 1px 12px rgba(0, 0, 0, 1);
	left: calc(50vw - 300px);
	position: absolute;
	z-index: 999;
	width: 50%;
	top: 20vh;
	border-radius: 5px;
	overflow: hidden;
	background: linear-gradient(45deg, #ccccff, #0000ff);
}
.customModal .customModalTitle {
	text-align: left;
	padding: 8px 12px;
	font-size: 1.5em;
	background: linear-gradient(45deg, #ccccff, #0000ff);
}
.customModal .customModalTitle .close {
	line-height: 32px;
	color: #5c4084;
}
.customModal .customModalBody {
	padding: 8px 12px;
	text-align: left;
	background: linear-gradient(45deg, #ccccff, #0000ff);
}
.customModal .customModalFooter {
	background: linear-gradient(45deg, #ccccff, #0000ff);
	text-align: center;
}
.btn{
	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.user-name{
	color:#008000;
}
.user-name:hover{
	color:white
}
.head{
	font-size:250%;
	font-weight: bold;
}
.header{
	background: linear-gradient(45deg, #ccccff, #3eb489);
}

/*MAIN------------------------------------------------------------------*/

.image-item img{
	border-style: groove;
	border-radius: 5% 5%;
}
.main{
	background: linear-gradient(45deg, #b69eff, #1cd3a2);
}
.content-1, .content-2{
	font-size: 110%;
	text-align: justify;
}
.load-agree{
	font-weight: bold;
	font-size: larger;
	color:#6300c7;
	-webkit-transition: .8s ease-in-out;
	-moz-transition: .8s ease-in-out;
	-o-transition: .8s ease-in-out;
	transition: .8s ease-in-out;
}
.load-agree:hover{
	color:#310062;
}
.load-info{
	font-size: larger;
	text-align: justify;
	font-weight: bold;
}
.patent-search a{
	color:#008000;
	font-weight: bold;
	font-size: larger;
	-webkit-transition: .8s ease-in-out;
	-moz-transition: .8s ease-in-out;
	-o-transition: .8s ease-in-out;
	transition: .8s ease-in-out;
}
.patent-search a:hover{
	color:#00008b;
}
/*FOOTER-------------------------------------------------------*/
.footer{
	background: linear-gradient(180deg, #ffffff, #3bb08f);
	text-align: center;
}
.footer-mail{
	color:blue;
}
.footer-mail:hover{
	color:#030a08;
	-webkit-transition: .8s ease-in-out;
	-moz-transition: .8s ease-in-out;
	-o-transition: .8s ease-in-out;
	transition: .8s ease-in-out;
}