<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Документы</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/docs.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  </head>
  
  <body>  
	<img src="images/ornament_2.svg" class="image" width="15%" height="15%">

	<div class="header">
		<div class="d-flex align-items-center">
			<div class="title">
				<i class="bi bi-journal-bookmark" style="font-size: 3rem;"></i>{{docs.title}}
			</div>
		</div>
	</div>
	
	<div class="main">
		<div class="content">	
			<i class="bi bi-blockquote-left" style="font-size: 3rem;"></i>
			<div>{{docs.content}}</div>
		</div>
	</div>
	
    <div class="footer">
        <div class="d-flex justify-content-center">
            2020 Copyright:
            <a href="mailto:40cnti@rosenergo.gov.ru"><div class="footer-mail">40cnti@rosenergo.gov.ru</div></a>
        </div>
    </div>
	
</body>
</html>
