<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Заявления</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  </head>
  <body>

    <div class="header">   
        <div class="d-flex">
            <a href="account">
                <div class="user-name">
                {{user.first_name}}<i class="bi bi-person" style="font-size: 2rem;"></i>
                </div>
            </a>
            <div class="container d-flex justify-content-end" id="app">
                <div class="form-group">
                    <button class="btn btn-primary" @click.prevent="exit = !exit">
                        Выйти
                    </button>
                </div>
                
                <div class="customModal" v-if="exit">
                    <div class="customModalTitle">
                        <button class="close" @click.prevent="exit = !exit">
                            &times;
                        </button>
                        Вы действительно хотите выйти ?
                    </div>

                    <div class="customModalFooter row">   
                        <div class="col-6">
                            <form method="POST" action="main">    
                                {% csrf_token %}                      
                                <button class="btn btn-primary">Да</button>
                            </form>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary" @click.prevent="exit = !exit">
                                Нет
                            </button>
                        </div>
                    </div>

                </div>       
            </div>
        </div>
    </div>


    <div class = "main">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="bi bi-card-checklist" style="font-size: 2rem;"></i>
                            Список заявлений
                        </div>
                        <div class="d-flex justify-content-start align-items-center">
                            <i class="bi bi-bookmark-check" style="font-size: 2rem;"></i>
                            Список заявлений на полиграфические услуги
                        </div>
                        {% for i in polygraph_s %}
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="bi bi-asterisk" style="font-size: 2rem;"></i>{{i.title}}
                        </div>
                        <button onclick="location.href=button.getUrl()">Оплатить</button>
                        {% endfor %}

                        <div class="d-flex justify-content-start align-items-center">
                            <i class="bi bi-check2-circle" style="font-size: 2rem;"></i>
                            Список заявлений на патентные услуги
                        </div>
                        {% for j in patent_s %}            
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="bi bi-asterisk" style="font-size: 2rem;"></i>{{j.title}}
                        </div>
                        <button onclick="location.href=button.getUrl()">Оплатить</button>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-8">
                    <img src="{% static 'images/ornament_1.svg' %}" width="95%" height="95%">
                </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="d-flex justify-content-center">
            2020 Copyright:
            <a href="mailto:40cnti@rosenergo.gov.ru"><div class="footer-mail">40cnti@rosenergo.gov.ru</div></a>
        </div>
    </div>


    <script src="https://unpkg.com/vue"></script>
    <script src="{% static 'js/account.js' %}"></script>

    <script src="https://pay.fondy.eu/static_common/v1/checkout/ipsp.js"></script>
    <script src="{% 'js/pay.js' %}"></script>
  </body>
</html>